[Desktop Entry]
Name=Burpsuite
Comment=Web pentest proxy and audit tool
Exec=/root/.asdf/installs/java/openjdk-21/bin/java -jar -Xmx4g /opt/tools/BurpSuiteCommunity/BurpSuiteCommunity.jar
Icon=/usr/share/icons/Papirus/16x16/apps/kali-burpsuite.svg
Terminal=false
Type=Application
StartupNotify=true
Categories=Exegol;Web;
MimeType=text/plain;