[Desktop Entry]
Name=Ghidra
Comment=Decompiler
Exec=bash -c "/opt/tools/ghidra/ghidraRun"
Icon=/opt/tools/ghidra/docs/images/GHIDRA_1.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Exegol;Reverse;
MimeType=text/plain;