[Desktop Entry]
Name=Maltego
Comment=TODO
Exec=/usr/bin/maltego
Icon=/usr/share/pixmaps/maltego.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Exegol;OSINT;
MimeType=text/plain;