[Desktop Entry]
Name=Wireshark
Comment=TODO
Exec=/usr/bin/wireshark
Icon=/usr/share/icons/hicolor/128x128/apps/wireshark.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Exegol;Network;
MimeType=text/plain;