name: Dev release NIGHTLY

on:
  push:
    branches:
      - cicd
    paths-ignore:
      - ".github/**"
      - "*.md"
jobs:
  building_debug:
    name: Preparing
    uses: ./.github/workflows/sub_full_build.yml
    with:
      DOCKER_BUILD_REPO: "nwodtuhs/exegol-builds"
      DOCKER_TARGET_REPO: "nwodtuhs/exegol-dev"
      IMAGE_BASE_NAME: "debug"
      DOCKERFILE: "debug.dockerfile"
      SUPPORTED_ARCH: '["amd64","arm64"]'
    secrets:
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
