name: (level 2 sub) Test

on:
  workflow_call:
    inputs:
      DOCKER_BUILD_REPO:
        required: true
        type: string
      IMAGE_BASE_NAME:
        required: true
        type: string
      ARCH:
        required: true
        type: string

jobs:
  test:
    timeout-minutes: 5
    name: Test ${{ inputs.ARCH }}
    runs-on:
      - self-hosted
      - tester
      - ${{ inputs.ARCH }}
    steps:
      - name: Inspect the built image
        run: docker inspect ${{ inputs.DOCKER_BUILD_REPO }}:${{ inputs.IMAGE_BASE_NAME }}-${{ inputs.ARCH }}
      - name: Create a container from the built image
        run: |
          docker run --name exegol-${{ inputs.IMAGE_BASE_NAME }}-${{ inputs.ARCH }} --rm -t -d ${{ inputs.DOCKER_BUILD_REPO }}:${{ inputs.IMAGE_BASE_NAME }}-${{ inputs.ARCH }} endless
      - name: Run the tests
        if: success()
        run: |
          docker exec exegol-${{ inputs.IMAGE_BASE_NAME }}-${{ inputs.ARCH }} zsh -c 'cat /.exegol/build_pipeline_tests/all_commands.txt | grep -vE "^\s*$" | sort -u > /.exegol/build_pipeline_tests/all_commands.sorted.txt'
          docker exec exegol-${{ inputs.IMAGE_BASE_NAME }}-${{ inputs.ARCH }} python3 /.exegol/build_pipeline_tests/run_tests.py
      - name: Print the failed tests if any
        if: failure()
        run: |
          docker exec exegol-${{ inputs.IMAGE_BASE_NAME }}-${{ inputs.ARCH }} cat /.exegol/build_pipeline_tests/failed_commands.log
      - name: Print the successful tests
        if: always()
        run: |
          docker exec exegol-${{ inputs.IMAGE_BASE_NAME }}-${{ inputs.ARCH }} cat /.exegol/build_pipeline_tests/success_commands.log
      - name: Stop the container
        if: always()
        run: docker stop exegol-${{ inputs.IMAGE_BASE_NAME }}-${{ inputs.ARCH }}
