name: (level 2 sub) Build

on:
  workflow_call:
    inputs:
      DOCKER_BUILD_REPO:
        required: true
        type: string
      IMAGE_BASE_NAME:
        required: true
        type: string
      IMAGE_VERSION:
        required: false
        default: ''
        type: string
      DOCKERFILE:
        required: true
        type: string
      ARCH:
        required: true
        type: string

jobs:
  buildx:
    name: Build ${{ inputs.ARCH }}
    timeout-minutes: 360
    runs-on:
      - self-hosted
      - builder
      - ${{ inputs.ARCH }}
    steps:
      - name: Pre Build list images
        run: docker image ls -a
      - name: Pre Build list containers
        run: docker ps
      - name: Checkout
        uses: actions/checkout@v3
      - name: Prepare build
        # IMAGE_VERSION is empty if the image is nightly
        # For nightly, we then use the first 8 chars as the image version
        # Also preparing other variables used for tagging the image to build
        id: prepare_build
        env:
          DOCKER_BUILD_REPO: ${{ inputs.DOCKER_BUILD_REPO }}
          IMAGE_BASE_NAME: ${{ inputs.IMAGE_BASE_NAME }}
          IMAGE_VERSION: ${{ inputs.IMAGE_VERSION }}
          ARCH: ${{ inputs.ARCH }}
        run: |
          IMAGE_NAME="${IMAGE_BASE_NAME}-${ARCH}"
          DOCKER_REPO=${DOCKER_BUILD_REPO}
          COMMIT_ID=$(git rev-parse "$GITHUB_SHA")
          if [ "$IMAGE_VERSION" == "" ]; then
            IMAGE_VERSION=${COMMIT_ID:0:8}
          fi
          BUILD_DATE=$(date -u +"%Y-%m-%dT%H:%M:%SZ")
          echo "image_repo=${DOCKER_REPO}" >> $GITHUB_OUTPUT
          echo "image_name=${IMAGE_NAME}" >> $GITHUB_OUTPUT
          echo "image_full_name=${DOCKER_REPO}:${IMAGE_NAME}"
          echo "image_full_name=${DOCKER_REPO}:${IMAGE_NAME}" >> $GITHUB_OUTPUT
          echo "image_version=${IMAGE_VERSION}"
          echo "image_version=${IMAGE_VERSION}" >> $GITHUB_OUTPUT
          echo "build_date=${BUILD_DATE}" >> $GITHUB_OUTPUT
#      - name: Set up QEMU
#        uses: docker/setup-qemu-action@v2
#      - name: Set up Docker Buildx
#        id: buildx
#        uses: docker/setup-buildx-action@v2
      - name: Build and load the image
        if: success()
        uses: docker/build-push-action@v4
        with:
          load: true
          no-cache: true
          build-args: |
            TAG=${{ inputs.IMAGE_BASE_NAME }}
            VERSION=${{ steps.prepare_build.outputs.image_version }}
            BUILD_DATE=${{ steps.prepare_build.outputs.build_date }}
          tags: ${{ steps.prepare_build.outputs.image_full_name }}
          platforms: linux/${{ inputs.ARCH }}
          file: ${{ inputs.DOCKERFILE }}
          context: .
      - name: Post Build list images
        run: docker image ls -a
      - name: Post Build list containers
        run: docker ps
      - name: Post Build inspect built image
        run: docker inspect ${{ steps.prepare_build.outputs.image_full_name }}
