name: (level 1 sub) Belt

on:
  workflow_call:
    inputs:
      DOCKER_BUILD_REPO:
        required: true
        type: string
      DOCKER_TARGET_REPO:
        required: false
        default: ''
        type: string
      IMAGE_BASE_NAME:
        required: true
        type: string
      IMAGE_VERSION:
        required: false
        default: ''
        type: string
      DOCKERFILE:
        required: true
        type: string
      ARCH:
        required: true
        type: string
      PR_MODE:
        required: false
        type: boolean
    secrets:
      DOCKER_PASSWORD:
        required: false
      DOCKER_USERNAME:
        required: false
      EXEGOL_DOCS_SSH_DEPLOY_KEY:
        required: false
    outputs:
      build:
        description: "Failed build"
        value: ${{ jobs.export_results.outputs.build }}
      push:
        description: "Failed push"
        value: ${{ jobs.export_results.outputs.push }}
      test:
        description: "Failed tests"
        value: ${{ jobs.export_results.outputs.test }}

jobs:
  prune:
    name: Pre-build ${{ inputs.ARCH }} runner clean
    runs-on:
      - self-hosted
      - builder
      - ${{ inputs.ARCH }}
    steps:
      - name: Clean dangling build cache
        run: docker builder prune --force
      - name: Clean Exegol dangling images
        # dangling: images that were replaced with ones with the same name and tag
        run: docker image prune --force --filter "label=org.exegol.app=Exegol"
      - name: Clean unused local volumes
        run: docker volume prune --force

  debug_pre_build:
    name: Pre-build debug
    needs: prune
    runs-on:
      - self-hosted
      - builder
      - ${{ inputs.ARCH }}
    steps:
      - name: List images
        run: docker image ls -a
      - name: List containers
        run: docker ps

  build:
    name: Build
    uses: ./.github/workflows/sub_build.yml
    needs:
      - prune
      - debug_pre_build
    with:
      DOCKER_BUILD_REPO: ${{ inputs.DOCKER_BUILD_REPO }}
      IMAGE_BASE_NAME: ${{ inputs.IMAGE_BASE_NAME }}
      IMAGE_VERSION: ${{ inputs.IMAGE_VERSION }}
      DOCKERFILE: ${{ inputs.DOCKERFILE }}
      ARCH: ${{ inputs.ARCH }}

  debug_post_build:
    name: Post-build debug
    needs: build
    runs-on:
      - self-hosted
      - builder
      - ${{ inputs.ARCH }}
    steps:
      - name: List images
        run: docker image ls -a
      - name: List containers
        run: docker ps
      - name: Inspect built image
        run: docker inspect ${{ inputs.DOCKER_BUILD_REPO }}:${{ inputs.IMAGE_BASE_NAME }}-${{ inputs.ARCH }}

  test:
    name: Test
    needs: build
    uses: ./.github/workflows/sub_test.yml
    with:
      DOCKER_BUILD_REPO: ${{ inputs.DOCKER_BUILD_REPO }}
      IMAGE_BASE_NAME: ${{ inputs.IMAGE_BASE_NAME }}
      ARCH: ${{ inputs.ARCH }}

  push:
    name: Push
    needs: test
    # Push image to exegol-builds whatever the outcome of "test" is, as long as the image was built (which is already an implicit requirement of the "test" job)
    # Only pushing if not in PR_MODE, in order to prevent external PRs from accessing secrets
    if: always() && inputs.PR_MODE == false && ( needs.test.result == 'failure' || needs.test.result == 'success' )
    uses: ./.github/workflows/sub_push.yml
    with:
      DOCKER_BUILD_REPO: ${{ inputs.DOCKER_BUILD_REPO }}
      IMAGE_BASE_NAME: ${{ inputs.IMAGE_BASE_NAME }}
      DOCKERFILE: ${{ inputs.DOCKERFILE }}
      ARCH: ${{ inputs.ARCH }}
    secrets:
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}

  export_tools:
    name: Export tools list
    needs: test
    # Only exporting tools list if not in PR_MODE, in order to prevent external PRs from accessing GitHub token
    # Only exporting tools list if tests were a success
    if: always() && inputs.PR_MODE == false && needs.test.result == 'success'
    uses: ./.github/workflows/sub_export_tools.yml
    with:
      DOCKER_BUILD_REPO: ${{ inputs.DOCKER_BUILD_REPO }}
      IMAGE_BASE_NAME: ${{ inputs.IMAGE_BASE_NAME }}
      IMAGE_VERSION: ${{ inputs.IMAGE_VERSION }}
      ARCH: ${{ inputs.ARCH }}
    secrets:
      EXEGOL_DOCS_SSH_DEPLOY_KEY: ${{ secrets.EXEGOL_DOCS_SSH_DEPLOY_KEY }}

  export_results:
    name: Exporting test results for higher jobs
    needs:
      - build
      - test
      - push
    if: always()
    runs-on: self-hosted
    steps:
      - name: Extract build result
        id: build
        if: needs.build.result != 'success'
        run: echo "result=failure" >> $GITHUB_OUTPUT
      - name: Extract tests result
        id: test
        if: needs.test.result != 'success'
        run: echo "result=failure" >> $GITHUB_OUTPUT
      - name: Extract push result
        id: push
        if: needs.push.result != 'success'
        run: echo "result=failure" >> $GITHUB_OUTPUT
    outputs:
      test: ${{ steps.test.outputs.result }}
      push: ${{ steps.push.outputs.result }}